#page-home {
  width: 100vw;

  main {
    margin: 100px 0;

    .products {
      margin: 0 auto;
      max-width: 1100px;
      background: #fff;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      
    }
  }
}
