.cart-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  width: 350px;

  img {
    height: 80px;
    width: 80px;
  }
}

.delete-button {
  border: 0;
  background: #fff;
  cursor: pointer;
  height: 50px;
  width: 50px;
  &:hover {
    border-radius: 50%;
    filter: brightness(0.9);
  }

  .delete-icon {
    height: 25px;
    width: 25px;
    color: #616161;
  }
}
